/* globals.css */

@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  @keyframes shake {
    "0%, 100%": {
      transform: "translateX(0)";
    }
    ,
    "10%, 30%, 50%, 70%, 90%": {
      transform: "translateX(-5px)";
    }
    ,
    "20%, 40%, 60%, 80%": {
      transform: "translateX(5px)";
    }
  }

  @keyframes flip {
    "0%": {
      transform: "rotateX(0)";
    }
    ,
    "50%": {
      transform: "rotateX(90deg)";
    }
    ,
    "100%": {
      transform: "rotateX(0)";
    }
  }

  @keyframes pop {
    "0%": {
      transform: "scale(1)";
    }
    ,
    "50%": {
      transform: "scale(1.1)";
    }
    ,
    "100%": {
      transform: "scale(1)";
    }
  }

  --animate-shake: shake 0.5s ease-in-out;
  --animate-flip: flip 0.5s ease-in-out;
  --animate-pop: pop 0.2s ease-in-out;
}

/* The default border color has changed to currentColor in Tailwind CSS v4 */
